body {
    background-image: url('/static/img/stock_background.jpg');    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 112.5;
}

.invisible {
    display: none;
}